{% extends "master.html" %}
{% load static %}

{% block title %}
    Form
{% endblock %}

{% block additional_head %}  
    <link rel="stylesheet" type="text/css" href="{% static 'Estates_and_Locations/css/estate.css' %}">    
{% endblock %}


{%block content%}
    <div id="form" class="carousel slide">
        <h1>We Are Here To Help You With Your House</h1>
        <div class="buttons">
            <img class="long-line" src="{% static 'Estates_and_Locations/images/Line 2.svg' %}">
            <button type="button" data-bs-target="#form" data-bs-slide-to="0" class="btn bg-dark p-4 rounded-circle clicking"><img class="images" src="{% static 'Estates_and_Locations/images/location.svg' %}"></button>
            <img class="line" src="{% static 'Estates_and_Locations/images/Line.svg' %}">
            <button type="button" data-bs-target="#form" data-bs-slide-to="1" class="btn p-4 rounded-circle clicking"><img class="images" src="{% static 'Estates_and_Locations/images/check.svg' %}"></button>
            <img src="{% static 'Estates_and_Locations/images/Line.svg' %}">
            <button type="button" data-bs-target="#form" data-bs-slide-to="2" class="btn p-4 rounded-circle clicking"><img class="images" src="{% static 'Estates_and_Locations/images/name.svg' %}"></button>
            <img src="{% static 'Estates_and_Locations/images/Line.svg' %}">
            <button type="button" data-bs-target="#form" data-bs-slide-to="3" class="btn p-4 rounded-circle clicking"><img class="images" class="tick-button" src="{% static 'Estates_and_Locations/images/Done.svg' %}"></button>
            <img class="long-line" src="{% static 'Estates_and_Locations/images/Line 2.svg' %}">
        </div>
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field_errors in form.errors %}
                                    {% for error in field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="location container">
                        <div>
                            <div class="form-group">
                                <p>Country:</p>
                                {{ form.country }}
                            </div>
                            <div class="form-group">
                                <p>City:</p>
                                {{ form.city }}
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <p>District:</p>
                                {{form.district}}
                            </div>
                            <div class="form-group">
                                <p>State:</p>
                                {{ form.state }}
                            </div>
                            <div class="form-group">
                                <p>Street:</p>
                                {{ form.street }}
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <p>Plate:</p>
                                {{ form.plate_number }}
                            </div>
                            <div class="form-group">
                                <p>Unit:</p>
                                {{ form.unit_number }}
                            </div>
                            <div class="form-group">
                                <p>Floor:</p>
                                {{ form.floor_number }}
                            </div>
                            <div class="form-group">
                                <p>Zip code:</p>
                                {{ form.zip_code }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="carousel-item">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field_errors in form.errors %}
                                    {% for error in field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    <div class="container check">
                        <div>
                            <div class="form-group">
                                <p>Floor space:</p>
                                {{ form.floor_space }}
                            </div>
                            <div class="form-group">
                                <p>Number of balconies:</p>
                                {{ form.number_of_balconies }}
                            </div>
                            <div class="form-group">
                                <p>Balconies space:</p>
                                {{ form.balconies_space }}
                            </div>
                            <div class="form-group">
                                <p>Number of bedrooms:</p>
                                {{ form.number_of_bedrooms }}
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <p>Number of bathrooms:</p>
                                {{ form.number_of_bathrooms }}
                            </div>
                            <div class="form-group">
                                <p>Number of garages:</p>
                                {{ form.number_of_garages }}
                            </div>
                            <div class="form-group">
                                <p>Number of parkings:</p>
                                {{ form.number_of_parking_spaces }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="carousel-item">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field_errors in form.errors %}
                                    {% for error in field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="name container">
                        <div>
                            <div class="form-group">
                                <p>Img:</p>
                                {{ form.photo }}
                            </div>
                            <div class="form-group">
                                <p>Name:</p>
                                {{ form.estate_name }}
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <p>Year of construct:</p>
                                {{ form.year_of_construction }}
                            </div>
                            <div class="form-group">
                                <p>Estate Type:</p>
                                {{ form.estate_type_id }}
                            </div>
                            <div class="form-group">
                                <p>Status:</p>
                                {{ form.estate_status_id }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="carousel-item">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field_errors in form.errors %}
                                    {% for error in field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="tick container">
                        <div>
                            <div class="form-group">
                                {{ form.pets_allowed }}
                                <label for="">Pets allowed</label>
                            </div>
                            <div class="form-group">
                                {{ form.has_elevator }}
                                <label for="">Elevator</label>
                            </div>
                            <div class="form-group">
                                {{ form.has_warehouse }}
                                <label for="">Warehouse</label>
                            </div>
                        </div>
                        <div>
                            <div class="form-row">
                                <p>Description:</p>
                                {{ form.description }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn add-home">Add Home</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const buttons = document.querySelectorAll(".clicking");

        buttons.forEach(button => {
            button.addEventListener("click", function() {
                this.style.backgroundColor = "#000";
            });
        });
    </script>

{% endblock %}

