{% extends "master.html" %}
{% load static %}

{% block title %}
    Form
{% endblock %}

{% block additional_head %}  
    <link rel="stylesheet" type="text/css" href="{% static 'Estates_and_Locations/css/estate.css' %}">    
{% endblock %}


{%block content%}
    <div id="form" class="carousel slide">
        <!-- Indicators/dots -->
        <div class="where-to-go d-f justify-center">
            <button type="button" data-bs-target="#form" data-bs-slide-to="0" class="active btn btn-outline-dark p-3 rounded-circle"><img src="{% static 'Estates_and_Locations/images/location.svg' %}"></button>
            <img src="{% static 'Estates_and_Locations/images/Line.svg' %}">
            <button type="button" data-bs-target="#form" data-bs-slide-to="1" class="btn p-3 btn-outline-dark rounded-circle"><img src="{% static 'Estates_and_Locations/images/check.svg' %}"></button>
            <img src="{% static 'Estates_and_Locations/images/Line.svg' %}">
            <button type="button" data-bs-target="#form" data-bs-slide-to="2" class="btn p-3 btn-outline-dark rounded-circle"><img src="{% static 'Estates_and_Locations/images/name.svg' %}"></button>
            <img src="{% static 'Estates_and_Locations/images/Line.svg' %}">
            <button type="button" data-bs-target="#form" data-bs-slide-to="3" class="btn p-3 btn-outline-dark rounded-circle"><img class="tick-button" src="{% static 'Estates_and_Locations/images/Done.svg' %}"></button>
        </div>
        
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field_errors in form.errors %}
                                    {% for error in field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="location container">
                        <div class="form-group">
                            <label for="">City:</label>
                            {{ form.city_id }}
                        </div>
                        <div class="form-group">
                            <label for="">Address:</label>
                            {{form.address}}
                        </div>
                        <div class="form-group">
                            <label for="">Plate:</label>
                            {{ form.plate }}
                        </div>
                        <div class="form-group">
                            <label for="">Postal code:</label>
                            {{ form.postal_code }}
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="carousel-item">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field_errors in form.errors %}
                                    {% for error in field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    <div class="check">
                        <div class="form-group">
                            <label for="">Floor space:</label>
                            {{ form.floor_space }}
                        </div>
                        <div class="form-group">
                            <label for="">Number of balconies:</label>
                            {{ form.number_of_balconies }}
                        </div>
                        <div class="form-group">
                            <label for="">Balconies space:</label>
                            {{ form.balconies_space }}
                        </div>
                        <div class="form-group">
                            <label for="">Number of bedrooms:</label>
                            {{ form.number_of_bedrooms }}
                        </div>
                        <div class="form-group">
                            <label for="">Number of bathrooms:</label>
                            {{ form.number_of_bathrooms }}
                        </div>
                        <div class="form-group">
                            <label for="">Number of garages:</label>
                            {{ form.number_of_garages }}
                        </div>
                        <div class="form-group">
                            <label for="">Number of parkings:</label>
                            {{ form.number_of_parking_spaces }}
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="carousel-item">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field_errors in form.errors %}
                                    {% for error in field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="name">
                        <div class="form-group">
                            <label for="">Img:</label>
                            {{ form.photo }}
                        </div>
                        <div class="form-group">
                            <label for="">Name:</label>
                            {{ form.house_name }}
                        </div>
                        <div class="form-group">
                            <label for="">Year of construct:</label>
                            {{ form.year_of_construction }}
                        </div>
                        <div class="form-group">
                            <label for="">Estate_type:</label>
                            {{ form.estate_type_id }}
                        </div>
                        <div class="form-group">
                            <label for="">Status:</label>
                            {{ form.estate_status_id }}
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="carousel-item">
                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field_errors in form.errors %}
                                    {% for error in field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="tick">
                        <div class="form-group">
                            <label for="">Pets allowed</label>
                            {{ form.pets_allowed }}
                        </div>
                        <div class="form-group">
                            <label for="">Elevator</label>
                            {{ form.has_elevator }}
                        </div>
                        <div class="form-group">
                            <label for="">Warehouse</label>
                            {{ form.has_warehouse }}
                        </div>
                        <div class="form-row">
                            <label for="">Description:</label>
                            {{ form.estate_description }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

