{% extends "master.html" %}
{% load static %}

{% block title %}
    Main Page
{% endblock %}

{% block additional_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'Estates_and_Locations/css/style.css' %}">
{% endblock %}


{% block content %}
    <div class="part1" id="home">
        <div class="container">
            <nav class="navbar navbar-expand-sm container-fluid">
                <div class="container">
                    <img class="col-1 navbar-brand" src="{% static 'Estates_and_Locations/images/logo.svg' %}" alt="log">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <div class="container center col-10">
                            <ul class="navbar-nav justify-content-center">
                                <li class="nav_item p-4"><a class="nav_link" href="#home">Home</a></li>
                                <li class="nav_item p-4"><a class="nav_link" href="#properties">Properties</a></li>
                                <li class="nav_item p-4"><a class="nav_link" href="#about">About Us</a></li>
                                <li class="nav_item p-4"><a class="nav_link" href="#contact">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="container text-end col-2">
                            <a class="sign-in p-2" href="#">Sign In</a>
                            <a class="sign-up p-3" href="#">Sign Up</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container">
            <div class="dream-place">
                <h2>Easiest way to find your</h2>
                <h1>DREAM PLACE</h1>
                <p>Discover your dream home with us, where stunning views meet unparalleled convenience.
                     Experience the epitome of luxury living on our main web page.</p>
            </div>
            <div class="container">
                <img class="ellipse" src="{% static 'Estates_and_Locations/images/Ellipse 1.svg' %}" alt='circle'>
                <img class="ellipses" src="{% static 'Estates_and_Locations/images/Ellipse 1.svg' %}" alt='circle'>
                <img class="border border-dark building" src="{% static 'Estates_and_Locations/images/main_page_pic.jpg' %}" alt='building'>
            </div>
        </div>

        <div class="forms shadow">
            <form action="{% url 'Estates_and_Locations:property' %}" method="get">
                <div class='form'>
                    <p>Property Type</p>
                    <select class="form-select" name="type">
                        <option value="">Sort by</option>
                        {% for y in type %}
                            <option value="{{y.id}}">{{ y.type_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class='form'>
                    <p>Property Status</p>
                    <select class="form-select" name="status">
                        <option value="">Sort by</option>
                        {% for x in estates %}
                            <option value="{{x.id}}">{{ x.estate_status_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            
                <div class='form'>
                    <p>Location</p>
                    <select class="form-select" name="city">
                        <option value="">Sort by</option>
                        {% for z in city %}
                            <option value="{{z.id}}">{{ z.city_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='form'>
                    <button class="search" type="submit"><a href="property/"><img src="{% static 'Estates_and_Locations/images/search.svg' %}" alt='search'></a></button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="part2" id="properties">
            <div class="modern">
                <h2 class="exper">EXPERIENCE</h2>
                <h1>MODERN</h1>
                <h2 class="living">LIVING</h2>
            </div>
            <img class="pic border border-dark first-pic" src="{% static 'Estates_and_Locations/images/davide-colonna-DZrZhVd_wR0-unsplash.jpg' %}" alt='picture'>
            <img class="pic border border-dark second-pic" src="{% static 'Estates_and_Locations/images/spacejoy-umAXneH4GhA-unsplash.jpg' %}" alt='picture'>
            <div class="unparraleled">
                <h1><span>UN</span>PARALLELED</h1>
                <h2 class="service">SERVICE</h2>
            </div>
        </div>
    </div>

    <div class='container'>
        <div class="part3">
            <div class="nothing"></div>
            <h1>PROPERTY</h1>
            <a href='details/'><img src="{% static 'Estates_and_Locations/images/home1.jpg' %}" alt='house'></a>
            <a href='details/'><img src="{% static 'Estates_and_Locations/images/home2.jpg' %}" alt='house'></a>
            <a href='details/'><img src="{% static 'Estates_and_Locations/images/home3.jpg' %}" alt='house'></a>
            <button class="btn btn-outline-light button" type="submit"><a style="text-decoration: none; color: white" href="property/">Show More</a></button>
        </div>
    </div>

    <div class="container">
        <div class="part4 container" id="about">
            <div class="text">
                <h1>ABOUT US</h1>
                <p>Welcome to our enchanting world of real estate, a realm where visions are transformed into reality, and properties
                     become homes. Step into a realm where opportunities abound, stories unfold, and dreams find their perfect address.
                     Discover the magic that brings communities together and creates lasting memories.
                    In this ever-evolving landscape of bricks and mortar, we pride ourselves on being more than just agents or developers.
                     We are storytellers who weave narratives through spaces.<br> 
                    At the heart of our philosophy lies the belief that every home should reflect its owner's unique personality. 
                    Whether it's a cozy cottage nestled amidst rolling hills or a sleek penthouse overlooking city skylines, we understand that
                     finding your "perfect fit" transcends mere aesthetics - it's about finding harmony between space and soul.
                </p>
                <button class="btn btn-dark p-3" type="submit"><a style="text-decoration: none; color: white" href="#">LEARN MORE</a></button>
            </div>
            <div class="images">
                <img class="about_pic" src="{% static 'Estates_and_Locations/images/about.svg' %}" alt='building'>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer container-fluid" id="contact">
            <div class="part-1">
                <img class="logo_part" src="{% static 'Estates_and_Locations/images/footer.svg' %}" alt='Logo'>
                <p>Find your dream home with our real estate expertise. From cozy apartments to luxurious villas, we have the 
                    perfect property for you. Reach out to us today and let us turn your housing dreams into reality.</p>
                <a href="#"><img class="icon" src="{% static 'Estates_and_Locations/images/facebook.svg' %}" alt='icon'></a>
                <a href="#"><img class="icon" src="{% static 'Estates_and_Locations/images/insta.svg' %}" alt='icon'></a>
                <a href="#"><img class="icon" src="{% static 'Estates_and_Locations/images/youtube.svg' %}" alt='icon'></a>
                <a href="#"><img class="icon" src="{% static 'Estates_and_Locations/images/tweeter.svg' %}" alt='icon'></a>
            </div>
            <div class="part-2">
                <h2>About</h2>
                <a href="#">Menu</a><br><br>
                <a href="#">Features</a><br><br>
                <a href="#">News and Blogs</a><br><br>
                <a href="#">Help and Supports</a>
            </div>
            <div class="part-3">
                <h2>Company</h2>
                <a href="#">How we work</a><br><br>
                <a href="#">Terms of service</a><br><br>
                <a href="#">Pricing</a><br><br>
                <a href="#">FAQ</a>
            </div>
            <div class="part-4">
                <h2>Contact Us</h2>
                <a href="#">Tehran, Fereshte st</a><br><br>
                <a href="#">+98 212-345-7698</a><br><br>
                <p>legacyhomes@mail.com</p>
            </div>
        </div>
    </footer>
    
{% endblock %}