{% extends "master.html" %}
{% load static %}

{% block title %}
    Properties
{% endblock %}

{% block additional_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'Estates_and_Locations/css/property.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="filter">
            <form action="{% url 'Estates_and_Locations:property' %}" method="get">
                <div class='form'>
                    <p>Which City?</p>
                    <select class="form-select" name="city">
                        <option value=""></option>
                        {% for y in city %}
                            <option value="{{y.id}}">{{ y.city_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='form'>
                    <p>What Type?</p>
                    <select class="form-select" name="type">
                        <option value=""></option>
                        {% for a in estate_type %}
                            <option value="{{a.id}}">{{ a.type_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='form'>
                    <p>Which State?</p>
                    <select class="form-select" name="status">
                        <option value=""></option>
                        {% for b in estate_status %}
                            <option value="{{b.id}}">{{ b.estate_status_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='form'>
                    <p>Which District?</p>
                    <select class="form-select" name="district">
                        <option value=""></option>
                        {% for district_value in districts %}
                            <option value="{{ district_value }}">{{ district_value }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='form'>
                    <p>How Many Bedrooms?</p>
                    <select class="form-select" name="no_bedroom">
                        <option value=""></option>
                        {% for count_bedroom in rooms %}
                            <option value="{{ count_bedroom }}">{{ count_bedroom }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='form'>
                    <p>How Many Bathrooms?</p>
                    <select class="form-select" name="no_bathroom">
                        <option value=""></option>
                        {% for count_bathroom in rooms %}
                            <option value="{{ count_bathroom }}">{{ count_bathroom }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='form'>
                    <p>How Many Balconies?</p>
                    <select class="form-select" name="no_balcony">
                        <option value=""></option>
                        {% for count_balconies in rooms %}
                            <option value="{{count_balconies}}">{{ count_balconies }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='form'>
                    <p>How Much Space?</p>
                    <!-- <select class="form-select" name="floor_space">
                        {% for x in floor_space %}
                            <option value="{{x.id}}">{{ x.floor_space }}</option>
                        {% endfor %}
                    </select> -->
                    <input type="range" id="floor_space" name="floor_space" min="0" max="1010" step="10">
                    <output for="floor_space" id="space_output" name="floor_space_output">0</output>
                </div>
                <script>
                    const spaceRange = document.getElementById('floor_space');
                    const spaceOutput = document.getElementById('space_output');

                    spaceRange.addEventListener('input', function() {
                        spaceOutput.value = spaceRange.value;});
                </script>

                <!-- <div class='form'>
                    <p>How Much Cost?</p>
                    <select class="form-select" name="payment">
                        {% for z in payment %}
                            <option value="{{z.id}}">{{ z.payment_amount }}</option>
                        {% endfor %}
                    </select>
                </div> -->

                <div class='form'>
                    <button class="search btn btn-dark" type="submit">Search</button>
                </div>
            </form>
        </div>

        <div class="heading">
            <h1>Find Your Forever Home</h1>
        </div>

        <div class="row">
            {% for estate in filtered_estates %}
            <div class="col-4 text-dark home shadow">
                <img src="{{ estate.photo.url }}" alt="Estate Photo">
                <div class="detail">
                    <p>Name: {{ estate.estate_name }}</p>
                    <p>Floor space: {{ estate.floor_space }}</p>
                    <p>bedrooms: {{ estate.number_of_bedrooms }}</p>
                    <p>bathrooms: {{ estate.number_of_bathrooms }}</p>
                    <button class="btn btn-dark" type="button">View Details</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}