@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&family=Manrope:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background-color: #F0F0F0;
    font-family: 'work sans';
}
/* 
.where-to-go {
    position: absolute;
    top: 30rem;
} */

/* .location {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    max-width: 20%;
    padding: 5rem;
    font-weight: 200;
    margin-top: 10rem;
} */