@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&family=Manrope:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background-color: #F0F0F0;
    font-family: 'work sans';
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.btn {
    border: solid 2px black;
}

.images {
    width: 50px;
}

.long-line {
    max-width: 28%;
}

.location, .check, .name, .tick {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    padding-bottom: 1rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 300;
}

h1 {
    font-weight: 800;
    font-size: 3rem;
    color: black;
    position: fixed;
    top: 5%;
    left: 18%;
}

.location .form-group input, .check .form-group input, .name .form-group input {
    border-radius: 2rem;
    padding: 5%;
    border: none;
    box-shadow: 0 1px 1px rgb(0, 0, 0) ;
    font-weight: 300;
}

.form-group select {
    border-radius: 2rem;
    padding: 8%;
    border: none;
    box-shadow: 0 1px 1px rgb(0, 0, 0) ;
    font-weight: 300;
}

label {
    font-weight: 300;
}

.tick .form-group input {
    margin-top: 3rem;
}

.name .form-group input[type="file"] {
    background-color: white;
}