@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&family=Manrope:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background-color: #F0F0F0;
    font-family: 'work sans';
}

nav a {
    color: rgb(72, 72, 72);
    text-decoration: none;
    font-weight: 300;
}

nav a:hover {
    color: black;
    font-weight: 400;
}

.sign-in {
    color: black;
    font-weight: 700;
}

.sign-up {
    background-color: black;
    color: white;
    font-weight: 600;
}

.building {
    position: absolute;
    right: 9rem;
    top: 6rem;
    z-index: -1;
    max-height: 85%;
}

.ellipse {
    position: absolute;
    left: 87%;
    top: 30%;
}

.ellipses {
    position: absolute;
    left: 62%;
    top: 60%;
    z-index: -1;
    max-width: 4rem;
}

.dream-place {
    position: absolute;
    top: 20%;
}

.dream-place h2 {
    font-weight: 500;
    font-size: 3rem;
}

.dream-place h1 {
    font-weight: 800;
    font-size: 6rem;
    color: black;
}

.dream-place p {
    max-width: 50%;
    color: rgb(102, 102, 102);
}

.forms {
    margin-top: 25rem;
    background-color: white;
    padding: 1rem;  
    position: absolute;
    left: 8%;
}

.form {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
}

.form p {
    font-size: 0.9rem;
    color: #5C5C5C;
}

.search {
    position: relative;
    bottom: 0.8rem;
    padding: 1rem;
    background-color: black;
    border: none;
}

.part2 {
    position: absolute;
    top: 100%;
}

.part2 h1 {
    font-size: 4.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.951);
}

.part2 h2 {
    font-size: 4rem;
    font-weight: 600;
}

.exper {
    color: rgba(181, 181, 181, 0.956);
    position: relative;
    top: 2rem;
    right: 20%;
    z-index: -1;
    text-shadow: 0 1px 0 #000000;
}

.living {
    color: #ffffff;
    position: relative;
    top: -2rem;
    left: 6rem;
    text-shadow: 0 1px 1px #000000;
}

.pic {
    max-width: 30%;
    position: relative;
}

.first-pic {
    top: 5rem;
    left: 16%;
}

.second-pic {
    z-index: -1;
    top: -10rem;
    left: 15%;
}

.modern {
    margin-left: 20%;
    margin-right: 50%;
    position: relative;
    top: 5rem;
}

.unparraleled {
   margin-left: 38%;
   margin-right: 30%;
   position: relative;
   top: -6rem;
}

.unparraleled span {
    color: white;
    text-shadow: 0 1px 1px #000000;
}

.service {
    color: rgb(255, 255, 255);
    position: relative;
    left: 10rem;
    top: -2rem;
    text-shadow: 0 1px 1px #000000;
}

.part3 {
    position: absolute;
    top: 230%;
}

.part3 h1 {
    font-size: 5rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    position: relative;
    left: 27rem;
    margin-right: 60%;
}

.part3 img {
    max-width: 25%;
    position: relative;
    left: 12rem;
}

.nothing {
    position: absolute;
    left: 3%;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    padding: 30% 50% 15% 50%;
}

.button {
    position: absolute;
    top: 106%;
    right: 42%;
    transition: 500ms;
}

.part4 {
    position: absolute;
    top: 330%;
    display: flex;
}

.part4 h1 {
    font-size: 5rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
    position: relative;
}

.text {
    position: relative;
    top: 7rem;
}

.text button {
    border-radius: 0;
    font-weight: 300;
}

.part4 p {
    color: #353535;
    font-weight: 300;
    max-width: 90%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.about_pic {
    max-width: 40rem;
}

.footer {
    position: absolute;
    top: 440%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 5rem;
}

.footer h2 {
    font-weight: 800;
    color: white;
    margin-bottom: 2rem;
}

.footer a {
    color: white;
    font-weight: 200;
    text-decoration: none;
}

.part-1 p {
    max-width: 25rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    color: white;
    font-weight: 200;
}

.part-1 .icon {
    margin-right: 1rem;
}

.part-2, .part-4 {
    padding-right: 5rem;
    padding-left: 5rem;
}

.part-4 p {
    color: white;
    font-weight: 200;
}